@tailwind base;
@tailwind components;
@tailwind utilities;

.transform-style {
  transform-style: preserve-3d;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
